.navbar-nav {
    padding-right: 10%; 
}
#navbarname {
    margin-left: 30px;
}
body {
    background-color: black;
}
.jumbotron {
    background-color: gray;
}
#emailHelp {
    color:rgb(59, 57, 57);
}
#contentBox {
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    margin-bottom:5%;
}
.picText {
    position: absolute;
      bottom: 5px;
      left: 35px;
      background-color: black;
      color: white;
    }
.portObj {
        height:100px;
        width: 100px;
        margin: 5px;
    }
.imgText {
    position: absolute;
    color: white;
    left: 35%;
    top: 30%;

}
.imgContainer {
    width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow:hidden;
  margin: 5%;  
}
.imgContainer img {
    position: absolute;
}
